.favorites-button {
	position: absolute;
	bottom: -80px;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 16px;
	color: white;
	background-color: #c9c9c900;
	border: 0.5px solid #fff;
	border-radius: 20px;
	padding: 12px 20px;
	margin-top: 30px;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.3s ease;
	&:hover {
		background: rgba(255, 255, 255, 0.3);
	}
}

.image-container:hover .favorites-button {
	opacity: 1;
	@media (max-width: 1024px) {
		display: none;
	}
}

.favorites-heart {
	position: absolute;
	bottom: 2%;
	right: 2%;
	width: 20px;
	height: 20px;
}
